---
import Social from './Social.astro';

const currentYear = new Date().getFullYear();
---
<footer class="bg-gray-100 dark:bg-black flex flex-col sm:flex-row gap-12 sm:justify-between sm:pt-10 sm:pr-20 sm:pb-10 sm:pl-20 mt-auto pt-12 pr-8 pb-12 pl-8 text-center">
  <div>© Copyright {currentYear}</div>
  <div>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
  </div>
</footer>