---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header class="container">
 <nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
 </nav>
</header>